@charset "utf-8";
.container {
    text-align: left;
    color: #000000;
    margin-right: auto;
    margin-left: auto;
    background-color: #E0E0E0;
    width: 0em;
}
header h1  {
    color: #FDFDFD;
    background-size: cover;
    width: auto;
    opacity: 1;
    font-style: normal;
    text-indent: 23px;
    letter-spacing: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container header {

}

nav {
    text-align: center;
}
nav a:link  {
    color: #3E3030;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    color: #C46262;
}
nav a:visited  {
    color: #D5AAAB;
}
.img {
    height: 324px;
    background-image: url(unsplash-3.jpg);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    width: 1024px;
    background-position: 50% 0%;
    background-size: 63% auto;
}
article h2 {
    color: #030303;
    background-color: #B1A1A1;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}
article h3 {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

article p {
    margin-top: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-left: 14px;
}
footer   {
    background-color: #B1A1A1;
    color: #3E3030;
    padding-top: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
}
header {
    background-image: url(unsplash-3.jpg);
    background-size: cover;
    height: 877px;
}
